In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('dataset/train.csv', index_col='id')
train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,quality
id,,,,,,,,,,,,,
1,8.0,0.18,0.37,1.3,0.040,15.0,96.0,0.99120,3.06,0.61,12.1,white,6
2,7.5,0.38,0.29,4.9,0.021,38.0,113.0,0.99026,3.08,0.48,13.0,white,7
3,6.1,0.27,0.33,2.2,0.021,26.0,117.0,0.98860,3.12,0.30,12.5,white,6
4,6.4,0.32,0.50,10.7,0.047,57.0,206.0,0.99680,3.08,0.60,9.4,white,5
5,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.2,red,7

In [3]:
test = pd.read_csv('dataset/test.csv', index_col='id' )
test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
id,,,,,,,,,,,,
1,7.3,0.31,0.25,6.65,0.032,30.0,138.0,0.99244,2.90,0.37,11.1,white
2,8.7,0.70,0.24,2.50,0.226,5.0,15.0,0.99910,3.32,0.60,9.0,red
3,6.9,0.63,0.01,2.40,0.076,14.0,39.0,0.99522,3.34,0.53,10.8,red
4,6.3,0.23,0.50,10.40,0.043,61.0,132.0,0.99542,2.86,0.46,9.1,white
5,6.9,0.54,0.04,3.00,0.077,7.0,27.0,0.99870,3.69,0.91,9.4,red

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3231 entries, 1 to 3231
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         3231 non-null   float64
 1   volatile acidity      3231 non-null   float64
 2   citric acid           3231 non-null   float64
 3   residual sugar        3231 non-null   float64
 4   chlorides             3231 non-null   float64
 5   free sulfur dioxide   3231 non-null   float64
 6   total sulfur dioxide  3231 non-null   float64
 7   density               3231 non-null   float64
 8   pH                    3231 non-null   float64
 9   sulphates             3231 non-null   float64
 10  alcohol               3231 non-null   float64
 11  type                  3231 non-null   object
 12  quality               3231 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 353.4+ KB

In [5]:
word_to_num = {"white":0, "red":1}

train['type'] = train['type'].replace(word_to_num)
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,quality
id,,,,,,,,,,,,,
1,8.0,0.18,0.37,1.30,0.040,15.0,96.0,0.99120,3.06,0.61,12.1,0,6
2,7.5,0.38,0.29,4.90,0.021,38.0,113.0,0.99026,3.08,0.48,13.0,0,7
3,6.1,0.27,0.33,2.20,0.021,26.0,117.0,0.98860,3.12,0.30,12.5,0,6
4,6.4,0.32,0.50,10.70,0.047,57.0,206.0,0.99680,3.08,0.60,9.4,0,5
5,8.4,0.37,0.43,2.30,0.063,12.0,19.0,0.99550,3.17,0.81,11.2,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3227,6.4,0.16,0.31,5.30,0.043,42.0,157.0,0.99455,3.35,0.47,10.5,0,5
3228,6.4,0.18,0.28,17.05,0.047,53.0,139.0,0.99724,3.25,0.35,10.5,0,6
3229,6.0,0.28,0.25,1.80,0.042,8.0,108.0,0.99290,3.08,0.55,9.0,0,5
3230,7.7,0.28,0.29,6.90,0.041,29.0,163.0,0.99520,3.44,0.60,10.5,0,6
3231,7.1,0.15,0.34,5.30,0.034,33.0,104.0,0.99530,3.37,0.52,9.3,0,7

In [6]:
test['type'] = test['type'].replace(word_to_num)
test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
id,,,,,,,,,,,,
1,7.3,0.31,0.25,6.65,0.032,30.0,138.0,0.99244,2.90,0.37,11.1,0
2,8.7,0.70,0.24,2.50,0.226,5.0,15.0,0.99910,3.32,0.60,9.0,1
3,6.9,0.63,0.01,2.40,0.076,14.0,39.0,0.99522,3.34,0.53,10.8,1
4,6.3,0.23,0.50,10.40,0.043,61.0,132.0,0.99542,2.86,0.46,9.1,0
5,6.9,0.54,0.04,3.00,0.077,7.0,27.0,0.99870,3.69,0.91,9.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3227,7.1,0.32,0.24,13.10,0.050,52.0,204.0,0.99800,3.10,0.49,8.8,0
3228,5.6,0.28,0.40,6.10,0.034,36.0,118.0,0.99144,3.21,0.43,12.1,0
3229,7.3,0.31,0.69,10.20,0.041,58.0,160.0,0.99770,3.06,0.45,8.6,0
3230,5.2,0.34,0.37,6.20,0.031,42.0,133.0,0.99076,3.25,0.41,12.5,0
3231,6.9,0.20,0.36,1.50,0.031,38.0,147.0,0.99310,3.35,0.56,11.0,0

In [7]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier

In [8]:
s_col = list(train.columns)
s_col.pop(-1)
s_col.pop(-1)
s_col

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol']

In [9]:
train[s_col].shape

(3231, 11)

In [10]:
m_scaler = MinMaxScaler()

train_mscale = m_scaler.fit_transform(train[s_col])
df_train = pd.DataFrame(train_mscale, columns=s_col)
df_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.347107,0.104167,0.222892,0.010736,0.046745,0.107692,0.266272,0.078851,0.263566,0.221591,0.569231
1,0.305785,0.312500,0.174699,0.065951,0.015025,0.284615,0.316568,0.060729,0.279070,0.147727,0.707692
2,0.190083,0.197917,0.198795,0.024540,0.015025,0.192308,0.328402,0.028726,0.310078,0.045455,0.630769
3,0.214876,0.250000,0.301205,0.154908,0.058431,0.430769,0.591716,0.186813,0.279070,0.215909,0.153846
4,0.380165,0.302083,0.259036,0.026074,0.085142,0.084615,0.038462,0.161751,0.348837,0.335227,0.430769

In [11]:
df_train.columns
f_names = ['fixed acidity', 
           'volatile acidity', 'citric acid', 
           'residual sugar',
           'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 
           'sulphates',
           'alcohol']
f_names

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol']

In [12]:
X_train = df_train[f_names]
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.347107,0.104167,0.222892,0.010736,0.046745,0.107692,0.266272,0.078851,0.263566,0.221591,0.569231
1,0.305785,0.312500,0.174699,0.065951,0.015025,0.284615,0.316568,0.060729,0.279070,0.147727,0.707692
2,0.190083,0.197917,0.198795,0.024540,0.015025,0.192308,0.328402,0.028726,0.310078,0.045455,0.630769
3,0.214876,0.250000,0.301205,0.154908,0.058431,0.430769,0.591716,0.186813,0.279070,0.215909,0.153846
4,0.380165,0.302083,0.259036,0.026074,0.085142,0.084615,0.038462,0.161751,0.348837,0.335227,0.430769
...,...,...,...,...,...,...,...,...,...,...,...
3226,0.214876,0.083333,0.186747,0.072086,0.051753,0.315385,0.446746,0.143436,0.488372,0.142045,0.323077
3227,0.214876,0.104167,0.168675,0.252301,0.058431,0.400000,0.393491,0.195296,0.410853,0.073864,0.323077
3228,0.181818,0.208333,0.150602,0.018405,0.050083,0.053846,0.301775,0.111625,0.279070,0.187500,0.092308
3229,0.322314,0.208333,0.174699,0.096626,0.048414,0.215385,0.464497,0.155967,0.558140,0.215909,0.323077
3230,0.272727,0.072917,0.204819,0.072086,0.036728,0.246154,0.289941,0.157895,0.503876,0.170455,0.138462

In [13]:
y_train = train['quality']
y_train

id
1       6
2       7
3       6
4       5
5       7
       ..
3227    5
3228    6
3229    5
3230    6
3231    7
Name: quality, Length: 3231, dtype: int64

In [14]:
test_mscale = m_scaler.fit_transform(test[s_col])
df_test = pd.DataFrame(test_mscale, columns=s_col)
df_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.306306,0.184,0.203252,0.192557,0.038270,0.210909,0.444444,0.229176,0.125984,0.068571,0.516667
1,0.432432,0.496,0.195122,0.058252,0.361065,0.029091,0.030303,0.516616,0.456693,0.200000,0.166667
2,0.270270,0.440,0.008130,0.055016,0.111481,0.094545,0.111111,0.349158,0.472441,0.160000,0.466667
3,0.216216,0.120,0.406504,0.313916,0.056572,0.436364,0.424242,0.357790,0.094488,0.120000,0.183333
4,0.270270,0.368,0.032520,0.074434,0.113145,0.043636,0.070707,0.499353,0.748031,0.377143,0.233333
...,...,...,...,...,...,...,...,...,...,...,...
3226,0.288288,0.192,0.195122,0.401294,0.068220,0.370909,0.666667,0.469141,0.283465,0.137143,0.133333
3227,0.153153,0.160,0.325203,0.174757,0.041597,0.254545,0.377104,0.186016,0.370079,0.102857,0.683333
3228,0.306306,0.184,0.560976,0.307443,0.053245,0.414545,0.518519,0.456193,0.251969,0.114286,0.100000
3229,0.117117,0.208,0.300813,0.177994,0.036606,0.298182,0.427609,0.156668,0.401575,0.091429,0.750000
3230,0.270270,0.096,0.292683,0.025890,0.036606,0.269091,0.474747,0.257661,0.480315,0.177143,0.500000

In [15]:
X_test = df_test[f_names]
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.306306,0.184,0.203252,0.192557,0.038270,0.210909,0.444444,0.229176,0.125984,0.068571,0.516667
1,0.432432,0.496,0.195122,0.058252,0.361065,0.029091,0.030303,0.516616,0.456693,0.200000,0.166667
2,0.270270,0.440,0.008130,0.055016,0.111481,0.094545,0.111111,0.349158,0.472441,0.160000,0.466667
3,0.216216,0.120,0.406504,0.313916,0.056572,0.436364,0.424242,0.357790,0.094488,0.120000,0.183333
4,0.270270,0.368,0.032520,0.074434,0.113145,0.043636,0.070707,0.499353,0.748031,0.377143,0.233333
...,...,...,...,...,...,...,...,...,...,...,...
3226,0.288288,0.192,0.195122,0.401294,0.068220,0.370909,0.666667,0.469141,0.283465,0.137143,0.133333
3227,0.153153,0.160,0.325203,0.174757,0.041597,0.254545,0.377104,0.186016,0.370079,0.102857,0.683333
3228,0.306306,0.184,0.560976,0.307443,0.053245,0.414545,0.518519,0.456193,0.251969,0.114286,0.100000
3229,0.117117,0.208,0.300813,0.177994,0.036606,0.298182,0.427609,0.156668,0.401575,0.091429,0.750000
3230,0.270270,0.096,0.292683,0.025890,0.036606,0.269091,0.474747,0.257661,0.480315,0.177143,0.500000

In [16]:
from sklearn.model_selection import GridSearchCV

In [32]:
params = { 'n_estimators' : [10, 30, 50, 100, 150, 200, 300],
           'min_samples_split' : [3, 5, 10, 15],
          'min_samples_leaf' : [2, 5,10],
          'max_depth' : [6, 8, 10, 12],
            }

In [33]:
rf_clf = RandomForestClassifier(random_state = 0, n_jobs = -1)
grid_cv = GridSearchCV(rf_clf, param_grid = params, cv = 3, n_jobs = -1)
grid_cv.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(n_jobs=-1, random_state=0),
             n_jobs=-1,
             param_grid={'max_depth': [6, 8, 10, 12],
                         'min_samples_leaf': [2, 5, 10],
                         'min_samples_split': [3, 5, 10, 15],
                         'n_estimators': [10, 30, 50, 100, 150, 200, 300]})

In [34]:
print('<최적 하이퍼 파라미터>')
print(grid_cv.best_params_)

<최적 하이퍼 파라미터>
{'max_depth': 12, 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 150}

In [35]:
new_rf_clf = RandomForestClassifier(n_estimators = 150, 
                                min_samples_leaf = 2,
                                min_samples_split = 3,
                                max_depth = 12)
new_rf_clf.fit(X_train, y_train)
pred = new_rf_clf.predict(X_test)
pred

array([6, 5, 6, ..., 5, 6, 6])

In [22]:
import numpy as np

In [23]:
def ACCURACY(true, pred):   
    score = np.mean(true==pred)
    return score

In [24]:
score = ACCURACY(y_train, pred)

print(f"모델의 정확도는 {score*100:.2f}% 입니다")

모델의 정확도는 97.09% 입니다

In [25]:
submission = pd.read_csv('dataset/sample_submission.csv')
submission.head()

   id  quality
0   1       -1
1   2       -1
2   3       -1
3   4       -1
4   5       -1

In [26]:
submission['quality'] = pred
submission.head()

   id  quality
0   1        6
1   2        7
2   3        6
3   4        5
4   5        7

In [27]:
submission.to_csv("submission.csv", index=False)

In [28]:
from sklearn.model_selection import train_test_split

In [37]:
X_fit, X_val, y_fit, y_val = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train, 
                                              random_state=30)

In [38]:
new_rf_clf = RandomForestClassifier(n_estimators = 150, 
                                min_samples_leaf = 2,
                                min_samples_split = 3,
                                max_depth = 12)
new_rf_clf.fit(X_fit, y_fit)
pred = new_rf_clf.predict(X_val)
pred

array([6, 5, 5, 6, 5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 7, 5, 5, 6, 5, 5, 6, 5,
       5, 6, 7, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 7, 6, 5, 6, 6, 6, 6,
       5, 6, 6, 5, 5, 7, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 7, 6, 7, 6, 6, 5,
       6, 5, 6, 7, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 7, 7, 5, 6, 6, 5, 6,
       6, 6, 5, 5, 5, 7, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5,
       6, 6, 6, 5, 5, 7, 5, 8, 5, 5, 6, 5, 7, 6, 5, 6, 6, 5, 6, 6, 5, 7,
       6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 6,
       6, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6,
       7, 6, 7, 6, 6, 7, 7, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 6,
       7, 6, 5, 6, 5, 6, 6, 6, 5, 5, 6, 6, 7, 7, 6, 5, 6, 6, 6, 6, 6, 5,
       6, 5, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5,
       6, 6, 5, 5, 6, 5, 5, 6, 6, 5, 5, 6, 7, 6, 6, 6, 7, 6, 5, 6, 7, 6,
       6, 6, 6, 5, 6, 5, 5, 5, 6, 7, 5, 6, 6, 6, 7, 6, 6, 5, 5, 6, 5, 6,
       5, 7, 5, 6, 6, 5, 6, 6, 7, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6,
       6, 5, 5, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 5, 6, 5, 6, 5,
       5, 5, 6, 6, 5, 7, 6, 6, 5, 7, 6, 7, 6, 5, 5, 6, 5, 6, 5, 6, 6, 6,
       6, 5, 6, 5, 6, 6, 7, 6, 6, 6, 5, 5, 6, 5, 7, 5, 6, 5, 5, 5, 6, 5,
       7, 7, 6, 5, 7, 6, 5, 5, 6, 6, 6, 6, 7, 6, 5, 6, 6, 5, 6, 6, 7, 6,
       6, 5, 7, 6, 6, 5, 6, 6, 7, 6, 7, 6, 7, 6, 6, 5, 6, 7, 6, 6, 6, 5,
       5, 6, 6, 5, 5, 5, 6, 6, 6, 5, 5, 6, 7, 5, 5, 6, 6, 6, 6, 6, 5, 6,
       5, 6, 7, 6, 5, 6, 6, 7, 5, 6, 6, 6, 6, 7, 5, 5, 6, 6, 6, 5, 6, 5,
       7, 5, 5, 6, 5, 6, 6, 7, 5, 6, 5, 6, 6, 6, 7, 7, 5, 5, 5, 6, 6, 5,
       6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 7, 6, 5, 5, 5, 5, 6, 6, 5, 6, 7, 5,
       6, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 7, 6, 6, 6, 5, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 5,
       6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 7, 5,
       7, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 7, 6, 5, 6, 7, 5, 6, 6,
       5, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 6, 5, 6, 6, 6, 7, 5, 7, 6,
       6, 6, 5, 6, 5, 5, 6, 6, 6, 5, 5, 6, 6, 6, 6, 7, 6, 6, 7, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 7, 7, 6, 6, 5, 6, 6, 5, 6,
       5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 7, 7, 5, 6, 5, 5, 7, 5, 6, 5, 6, 6,
       6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 5, 6,
       6, 7, 6, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 5, 6, 7, 6, 6, 6, 5, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 5, 6, 5, 5, 5,
       5, 5, 6, 6, 5, 7, 5, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5,
       5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 7, 6, 5, 5, 5, 7, 5, 6, 5, 5, 5,
       6, 6, 5, 6, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 6, 6, 7, 6, 6, 6, 5,
       5, 5, 5, 5, 6, 6, 6, 6, 5, 6, 7, 5, 5, 6, 6, 6, 6, 6, 6, 6, 5, 7,
       5, 5, 6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 6, 5, 7, 5, 6, 7, 6, 6, 5, 5,
       6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 6, 7,
       5, 5, 6, 6, 7, 6, 6, 6, 6, 6, 5, 7, 5, 6, 7, 5, 5, 7, 6, 6, 7, 5,
       5, 5, 6, 7, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 7, 7, 6, 6, 6, 6,
       6, 7, 5, 6, 6, 6, 6, 7, 5, 6, 5, 5, 6, 6, 6, 7, 6, 5, 7, 5, 5, 5,
       6, 6, 7, 5, 5, 6, 6, 5, 5, 5, 7, 5, 6, 5, 6, 5, 6, 5, 5, 6, 6, 7,
       6, 6])

In [39]:
score = ACCURACY(y_val, pred)

print(f"모델의 정확도는 {score*100:.2f}% 입니다")

모델의 정확도는 61.55% 입니다